In [24]:
import numpy as np
import pandas as pd
import matplotlib.plot as plt

ModuleNotFoundError: No module named 'matplotlib.plot'

# hyper - d-g

In [17]:
env_name = 'simple_spread'
traj_limitation = 200
epoch = 51000
df = pd.DataFrame()
frames = []

dg = [(1,2),(1,4),(2,1),(4,1)]
ent_coef = 0.0
for (d,g) in dg:
    data = pd.read_csv('./hyper_result_'+env_name+'_'+str(traj_limitation)+'_'+str(epoch)+'_'+str(d)+'-'+str(g)+'-'+str(ent_coef)+'.csv')
    data.mean_sum_reward *= 3
    frames.append(data)
df = pd.concat(frames)

In [18]:
df[(df.d==d) & (df.g==g)]

,env_name,algo,seed,epoch,traj_limitation,d,g,ent_coef,mean_sum_reward,agent0,agent1,agent2
0,simple_spread,dgail_om,1,51000,200,4,1,0.0,-1431.993978,-477.331326,-477.331326,-477.331326
1,simple_spread,dgail_om,2,51000,200,4,1,0.0,-3515.843483,-1171.947828,-1171.947828,-1171.947828
2,simple_spread,dgail_om,3,51000,200,4,1,0.0,-4604.625448,-1534.875149,-1534.875149,-1534.875149
3,simple_spread,dgail_om,4,51000,200,4,1,0.0,-2140.649893,-713.549964,-713.549964,-713.549964
4,simple_spread,dgail_om,5,51000,200,4,1,0.0,-4786.894474,-1595.631491,-1595.631491,-1595.631491

In [19]:
mean = []
std = []
for (d,g) in dg:
    mean.append(df[(df.d==d) & (df.g==g)].mean_sum_reward.mean())
    std.append(df[(df.d==d) & (df.g==g)].mean_sum_reward.std())

In [21]:
std

[1314.7980649155525, 506.2462279634566, 1705.7484120109239, 1482.6454710931087]